<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <h1>Olivier Prieur</h1>
        <h2>{% trans %}Je suis développeur web backend Symfony{% endtrans %}</h2>
        <a href="#about" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a>
    </div>
</section><!-- End Hero -->