    <!-- ======= My Services Section ======= -->
    <section id="prestations" class="services">
        <div class="container">

            <div class="section-title">
                <span>{% trans %}Prestations{% endtrans %}</span>
                <h2>{% trans %}Prestations{% endtrans %}</h2>
                <p>{% trans %}Des prestations adaptées à vos besoins{% endtrans %}</p>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4 class="title"><a href="#">{% trans %}Intégration Web{% endtrans %}</a></h4>
                        <p class="description">{% trans %}Intégrations HTML/CSS respectueuses des standards
                            web{% endtrans %}</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4 class="title"><a href="#">{% trans %}Gestion de projets web{% endtrans %}</a></h4>
                        <p class="description">{% trans %}Site vitrine, blog, corporate, évènementiel{% endtrans %}</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch  mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="#">{% trans %}Projets spécifiques{% endtrans %}</a></h4>
                        <p class="description">{% trans %}Des outils adaptés, applications et solutions
                            personnalisées{% endtrans %}</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-world"></i></div>
                        <h4 class="title"><a href="#">{% trans %}Responsive design{% endtrans %}</a></h4>
                        <p class="description">{% trans %}Compatible tous supports, tablette & application
                            mobile{% endtrans %}</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End My Services Section -->