{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}

<div class="text-center">
    <h1 class="display-6 fw-bold border-bottom text-warning">Dashboard d'administration du site</h1>
    <div class="col mx-auto">
        <p class="lead mb-4">
            - Bienvenue dans votre Dashboard -
        </p>
    </div>
</div>

{% endblock %}