<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <h3>Olivier Prieur</h3>
        <p>
            {% trans %}Passionné par l'univers du web, mes expériences professionnelles m'ont permis d'acquérir de
            nombreuses compétences, savoirs-faire et savoirs-être liés au développement web.<br>
            Linuxien, libriste et geek, je code, je blog et administre des serveurs Linux/xBSD depuis plus de 15
            ans.<br>
            L'éclectisme de mon parcours et ma maturité me confèrent aujourd’hui une réelle polyvalence et l’expérience
            nécessaire à la bonne réalisation des projets.{% endtrans %}
        </p>
        <div class="social-links">
            <a href="https://twitter.com/citizenz58" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="https://www.facebook.com/oprieur.pro.7/" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.linkedin.com/in/olivier-prieur-201298218/" class="linkedin"><i
                    class="bx bxl-linkedin"></i></a>
            <a href="https://github.com/citizenz7" class="github"><i class="bx bxl-github"></i></a>
            <a href="https://gitlab.com/citizenz7" class="gitlab"><i class="bx bxl-gitlab"></i></a>
        </div>
        <div class="copyright">
            &copy; Copyright 2021 <strong><span>Olivier Prieur</span></strong> |
            Some Rights Reserved |
            <a href="{{ path('admin') }}">Administration</a>
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/laura-free-creative-bootstrap-theme/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> |
            Images <a href="https://pixabay.com" target="_blank">pixabay.com</a> | 
            Fait avec <span style="color: pink;">&hearts;</span> et <a href="https://symfony.com/"><i class="fab fa-symfony"></i></a> | 
            v.{{ site_version }}
        </div>
    </div>
</footer><!-- End Footer -->